$color-primary: #2551BA;
$color-primary-opacity: rgb(37, 81, 186, 0.9);
$color-primary-opacity-black: rgb(0, 0 , 0 , 0.9);
$color-secundary: #E44211;
$color-third: #E9B138;
$color-four: #161616;
$color-black: #000000;
$color-white: #ffffff;